// ## Header ##

header {
  margin-top: 50px;
  text-align: center;
  background-image: url(http://res.cloudinary.com/dyl4vtost/image/upload/v1485099958/IADB_nsmt2g.jpg);
  color: white;
  background-size: cover;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}

// ## Artist Overview Page ##

.artist-card {
  border: solid black;
  height: 350px;
  width: auto;
  margin: 0 10px 20px;
  right: 0;
}

.artist-img {
  width: 300px;
  height: auto;
}

.artist-card .artist-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

// ## Artist Detail Page ##
.content-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
}

.container-fluid{
	max-width: 1140px;
	margin: 0 auto;
}

.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}

.artist-image {
  display: block;
  margin: auto;
  width: 100%;
}

/*********************************************
				BUTTONS
*********************************************/

.btn.btn-success a {
  color: white;
  text-decoration: none;
}

.container-fluid {
  margin-top: 50px;
}

input[type=submit] {
  background-color: #5cb85c;
  border-color: #4cae4c;
  text-decoration: none;
}
